In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv("StudentDepressionDataset.csv")

In [3]:
print(ds)

           id  Gender   Age           City Profession  Academic Pressure  \
0           2    Male  33.0  Visakhapatnam    Student                5.0
1           8  Female  24.0      Bangalore    Student                2.0
2          26    Male  31.0       Srinagar    Student                3.0
3          30  Female  28.0       Varanasi    Student                3.0
4          32  Female  25.0         Jaipur    Student                4.0
...       ...     ...   ...            ...        ...                ...
27896  140685  Female  27.0          Surat    Student                5.0
27897  140686    Male  27.0       Ludhiana    Student                2.0
27898  140689    Male  31.0      Faridabad    Student                3.0
27899  140690  Female  18.0       Ludhiana    Student                5.0
27900  140699    Male  27.0          Patna    Student                4.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
0                0.0  8.97                 2.0               0.0
1                0.0  5.90                 5.0               0.0
2                0.0  7.03                 5.0               0.0
3                0.0  5.59                 2.0               0.0
4                0.0  8.13                 3.0               0.0
...              ...   ...                 ...               ...
27896            0.0  5.75                 5.0               0.0
27897            0.0  9.40                 3.0               0.0
27898            0.0  6.61                 4.0               0.0
27899            0.0  6.88                 2.0               0.0
27900            0.0  9.24                 1.0               0.0

          Sleep Duration Dietary Habits    Degree  \
0              5-6 hours        Healthy   B.Pharm
1              5-6 hours       Moderate       BSc
2      Less than 5 hours        Healthy        BA
3              7-8 hours       Moderate       BCA
4              5-6 hours       Moderate    M.Tech
...                  ...            ...       ...
27896          5-6 hours      Unhealthy  Class 12
27897  Less than 5 hours        Healthy       MSc
27898          5-6 hours      Unhealthy        MD
27899  Less than 5 hours        Healthy  Class 12
27900  Less than 5 hours        Healthy       BCA

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
0                                       Yes               3.0
1                                        No               3.0
2                                        No               9.0
3                                       Yes               4.0
4                                       Yes               1.0
...                                     ...               ...
27896                                   Yes               7.0
27897                                    No               0.0
27898                                    No              12.0
27899                                   Yes              10.0
27900                                   Yes               2.0

       Financial Stress Family History of Mental Illness  Depression
0                   1.0                               No           1
1                   2.0                              Yes           0
2                   1.0                              Yes           0
3                   5.0                              Yes           1
4                   1.0                               No           0
...                 ...                              ...         ...
27896               1.0                              Yes           0
27897               3.0                              Yes           0
27898               2.0                               No           0
27899               5.0                               No           1
27900               3.0                              Yes           1

[27901 rows x 18 columns]

In [4]:
ds.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [5]:
#display first 5 rows of dataset
ds.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [6]:
#display last 5 rows of dataset
ds.tail()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [7]:
#display number of counts of rows and columns
ds.shape

(27901, 18)

In [8]:
#display summary or infomation about dataset including data types and not null counts
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27898 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.8+ MB

In [9]:
#get descriptive statistics for numerical column in database
ds.describe

<bound method NDFrame.describe of            id  Gender   Age           City Profession  Academic Pressure  \
0           2    Male  33.0  Visakhapatnam    Student                5.0
1           8  Female  24.0      Bangalore    Student                2.0
2          26    Male  31.0       Srinagar    Student                3.0
3          30  Female  28.0       Varanasi    Student                3.0
4          32  Female  25.0         Jaipur    Student                4.0
...       ...     ...   ...            ...        ...                ...
27896  140685  Female  27.0          Surat    Student                5.0
27897  140686    Male  27.0       Ludhiana    Student                2.0
27898  140689    Male  31.0      Faridabad    Student                3.0
27899  140690  Female  18.0       Ludhiana    Student                5.0
27900  140699    Male  27.0          Patna    Student                4.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
0                0.0  8.97                 2.0               0.0
1                0.0  5.90                 5.0               0.0
2                0.0  7.03                 5.0               0.0
3                0.0  5.59                 2.0               0.0
4                0.0  8.13                 3.0               0.0
...              ...   ...                 ...               ...
27896            0.0  5.75                 5.0               0.0
27897            0.0  9.40                 3.0               0.0
27898            0.0  6.61                 4.0               0.0
27899            0.0  6.88                 2.0               0.0
27900            0.0  9.24                 1.0               0.0

          Sleep Duration Dietary Habits    Degree  \
0              5-6 hours        Healthy   B.Pharm
1              5-6 hours       Moderate       BSc
2      Less than 5 hours        Healthy        BA
3              7-8 hours       Moderate       BCA
4              5-6 hours       Moderate    M.Tech
...                  ...            ...       ...
27896          5-6 hours      Unhealthy  Class 12
27897  Less than 5 hours        Healthy       MSc
27898          5-6 hours      Unhealthy        MD
27899  Less than 5 hours        Healthy  Class 12
27900  Less than 5 hours        Healthy       BCA

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
0                                       Yes               3.0
1                                        No               3.0
2                                        No               9.0
3                                       Yes               4.0
4                                       Yes               1.0
...                                     ...               ...
27896                                   Yes               7.0
27897                                    No               0.0
27898                                    No              12.0
27899                                   Yes              10.0
27900                                   Yes               2.0

       Financial Stress Family History of Mental Illness  Depression
0                   1.0                               No           1
1                   2.0                              Yes           0
2                   1.0                              Yes           0
3                   5.0                              Yes           1
4                   1.0                               No           0
...                 ...                              ...         ...
27896               1.0                              Yes           0
27897               3.0                              Yes           0
27898               2.0                               No           0
27899               5.0                               No           1
27900               3.0                              Yes           1

[27901 rows x 18 columns]>

In [10]:
ds.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27898.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,3.139867,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,1.437347,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

In [11]:
#select the age column from dataset
ds['Age']

0        33.0
1        24.0
2        31.0
3        28.0
4        25.0
         ...
27896    27.0
27897    27.0
27898    31.0
27899    18.0
27900    27.0
Name: Age, Length: 27901, dtype: float64

In [12]:
ds[['CGPA','Age']]

       CGPA   Age
0      8.97  33.0
1      5.90  24.0
2      7.03  31.0
3      5.59  28.0
4      8.13  25.0
...     ...   ...
27896  5.75  27.0
27897  9.40  27.0
27898  6.61  31.0
27899  6.88  18.0
27900  9.24  27.0

[27901 rows x 2 columns]

In [16]:
#select the first row from the dataset by index
ds.iloc[0]

id                                                   2
Gender                                            Male
Age                                               33.0
City                                     Visakhapatnam
Profession                                     Student
Academic Pressure                                  5.0
Work Pressure                                      0.0
CGPA                                              8.97
Study Satisfaction                                 2.0
Job Satisfaction                                   0.0
Sleep Duration                               5-6 hours
Dietary Habits                                 Healthy
Degree                                         B.Pharm
Have you ever had suicidal thoughts ?              Yes
Work/Study Hours                                   3.0
Financial Stress                                   1.0
Family History of Mental Illness                    No
Depression                                           1
Name: 0, dtype: object

In [17]:
#select the row with label index 0 from dataset
ds.loc[0]

id                                                   2
Gender                                            Male
Age                                               33.0
City                                     Visakhapatnam
Profession                                     Student
Academic Pressure                                  5.0
Work Pressure                                      0.0
CGPA                                              8.97
Study Satisfaction                                 2.0
Job Satisfaction                                   0.0
Sleep Duration                               5-6 hours
Dietary Habits                                 Healthy
Degree                                         B.Pharm
Have you ever had suicidal thoughts ?              Yes
Work/Study Hours                                   3.0
Financial Stress                                   1.0
Family History of Mental Illness                    No
Depression                                           1
Name: 0, dtype: object

In [15]:
#select rows from 1 to 5 and column from 2 to 5
ds.iloc[0:5,1:5]

   Gender   Age           City Profession
0    Male  33.0  Visakhapatnam    Student
1  Female  24.0      Bangalore    Student
2    Male  31.0       Srinagar    Student
3  Female  28.0       Varanasi    Student
4  Female  25.0         Jaipur    Student

In [16]:
ds.loc[1:5,2:5]

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

In [17]:
#filter the dataset for rows where age is greater than 30
ds[ds['Age']>30.0]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
11,91,Male,33.0,Vadodara,Student,3.0,0.0,7.03,4.0,0.0,Less than 5 hours,Healthy,BE,Yes,10.0,2.0,Yes,0
26,186,Male,31.0,Ahmedabad,Student,2.0,0.0,6.08,5.0,0.0,7-8 hours,Moderate,LLB,Yes,3.0,3.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27876,140536,Male,33.0,Nagpur,Student,1.0,0.0,7.39,4.0,0.0,7-8 hours,Unhealthy,BHM,No,12.0,2.0,No,0
27887,140624,Male,32.0,Rajkot,Student,4.0,0.0,9.19,1.0,0.0,5-6 hours,Healthy,MSc,No,7.0,4.0,Yes,1
27889,140631,Male,33.0,Ahmedabad,Student,1.0,0.0,5.70,2.0,0.0,Less than 5 hours,Healthy,MCA,Yes,2.0,2.0,No,0
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,7-8 hours,Moderate,B.Com,Yes,6.0,1.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0

In [18]:
#use the query method to filter rows where age is greater than 30
ds.query('Age>30.0')

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
11,91,Male,33.0,Vadodara,Student,3.0,0.0,7.03,4.0,0.0,Less than 5 hours,Healthy,BE,Yes,10.0,2.0,Yes,0
26,186,Male,31.0,Ahmedabad,Student,2.0,0.0,6.08,5.0,0.0,7-8 hours,Moderate,LLB,Yes,3.0,3.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27876,140536,Male,33.0,Nagpur,Student,1.0,0.0,7.39,4.0,0.0,7-8 hours,Unhealthy,BHM,No,12.0,2.0,No,0
27887,140624,Male,32.0,Rajkot,Student,4.0,0.0,9.19,1.0,0.0,5-6 hours,Healthy,MSc,No,7.0,4.0,Yes,1
27889,140631,Male,33.0,Ahmedabad,Student,1.0,0.0,5.70,2.0,0.0,Less than 5 hours,Healthy,MCA,Yes,2.0,2.0,No,0
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,7-8 hours,Moderate,B.Com,Yes,6.0,1.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0

In [19]:
#check if there are any missing values in dataframe
ds.isnull()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27897,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27898,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27899,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27900,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
#count the number of missing values in the dataset
ds.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [19]:
#fill missing values with 0
ds.fillna(0, inplace=True)

In [20]:
ds.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [21]:
#check the datatype of column
ds.dtypes

id                                         int64
Gender                                    object
Age                                      float64
City                                      object
Profession                                object
Academic Pressure                        float64
Work Pressure                            float64
CGPA                                     float64
Study Satisfaction                       float64
Job Satisfaction                         float64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                         float64
Financial Stress                         float64
Family History of Mental Illness          object
Depression                                 int64
dtype: object

In [22]:
#sort the data set or dataframe based on specific column
ds.sort_values(by='Age',ascending=False)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
9238,46602,Male,59.0,Nashik,Student,1.0,0.0,8.14,1.0,0.0,5-6 hours,Unhealthy,PhD,Yes,10.0,4.0,Yes,0
2909,14768,Female,58.0,Chennai,Student,4.0,0.0,8.58,1.0,0.0,7-8 hours,Healthy,Class 12,No,4.0,4.0,No,0
14819,74887,Female,56.0,Ludhiana,Student,3.0,0.0,7.94,5.0,0.0,5-6 hours,Unhealthy,BSc,No,1.0,5.0,Yes,0
13499,68441,Male,54.0,Agra,Student,5.0,0.0,9.60,2.0,0.0,More than 8 hours,Unhealthy,B.Ed,Yes,9.0,3.0,Yes,0
4386,22004,Female,51.0,Bhopal,Student,2.0,0.0,8.26,3.0,0.0,Less than 5 hours,Moderate,MBBS,Yes,5.0,5.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,80171,Male,18.0,Jaipur,Student,1.0,0.0,8.98,5.0,0.0,5-6 hours,Unhealthy,Class 12,No,10.0,3.0,Yes,1
15870,80239,Female,18.0,Lucknow,Student,3.0,0.0,5.41,3.0,0.0,More than 8 hours,Moderate,Class 12,Yes,11.0,5.0,No,1
15871,80246,Female,18.0,Indore,Student,5.0,0.0,9.44,1.0,0.0,More than 8 hours,Unhealthy,Class 12,Yes,7.0,5.0,No,1
15873,80270,Male,18.0,Rajkot,Student,4.0,0.0,7.77,3.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,6.0,1.0,No,1
22537,113642,Female,18.0,Ludhiana,Student,4.0,0.0,5.39,3.0,0.0,7-8 hours,Unhealthy,Class 12,Yes,7.0,2.0,Yes,1

In [23]:
ds.sort_values(by='Age').head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
9100,45903,Male,18.0,Agra,Student,3.0,0.0,9.19,3.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,0.0,1.0,No,0
9867,49784,Female,18.0,Ludhiana,Student,3.0,0.0,8.70,5.0,0.0,More than 8 hours,Moderate,Class 12,Yes,1.0,1.0,Yes,1
27370,137980,Female,18.0,Hyderabad,Student,5.0,0.0,6.16,4.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,10.0,4.0,Yes,1
5226,26400,Male,18.0,Agra,Student,2.0,0.0,6.53,4.0,0.0,Less than 5 hours,Unhealthy,MCA,Yes,6.0,4.0,Yes,1
5224,26392,Male,18.0,Kolkata,Student,5.0,0.0,9.98,4.0,0.0,More than 8 hours,Unhealthy,Class 12,Yes,2.0,2.0,No,1

In [24]:
#minimun and maximum value in a column
ds['Age'].min()

18.0

In [25]:
ds['Age'].max()

59.0

In [26]:
#find unique values
ds['City'].unique()

array(['Visakhapatnam', 'Bangalore', 'Srinagar', 'Varanasi', 'Jaipur',
       'Pune', 'Thane', 'Chennai', 'Nagpur', 'Nashik', 'Vadodara',
       'Kalyan', 'Rajkot', 'Ahmedabad', 'Kolkata', 'Mumbai', 'Lucknow',
       'Indore', 'Surat', 'Ludhiana', 'Bhopal', 'Meerut', 'Agra',
       'Ghaziabad', 'Hyderabad', 'Vasai-Virar', 'Kanpur', 'Patna',
       'Faridabad', 'Delhi', 'Saanvi', 'M.Tech', 'Bhavna', 'Less Delhi',
       'City', '3.0', 'Less than 5 Kalyan', 'Mira', 'Harsha', 'Vaanya',
       'Gaurav', 'Harsh', 'Reyansh', 'Kibara', 'Rashi', 'ME', 'M.Com',
       'Nalyan', 'Mihir', 'Nalini', 'Nandini', 'Khaziabad'], dtype=object)

In [27]:
ds['City'].nunique()

52

In [58]:
#filter the rows where the person has sucidal thoughts
ds[ds['Have you ever had suicidal thoughts ?']=='Yes']

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,8-9 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27894,140681,Male,23.0,Srinagar,Student,3.0,0.0,6.00,2.0,0.0,More than 8 hours,Healthy,MBBS,Yes,12.0,4.0,No,0
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,7-8 hours,Moderate,B.Com,Yes,6.0,1.0,Yes,0
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [63]:
ds.query("`Have you ever had suicidal thoughts ?` == 'Yes'")

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,8-9 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27894,140681,Male,23.0,Srinagar,Student,3.0,0.0,6.00,2.0,0.0,More than 8 hours,Healthy,MBBS,Yes,12.0,4.0,No,0
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,7-8 hours,Moderate,B.Com,Yes,6.0,1.0,Yes,0
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [31]:
#filter for high financial stress
ds[ds['Financial Stress']>2.0]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
14,103,Female,19.0,Kalyan,Student,5.0,0.0,5.64,5.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,4.0,5.0,Yes,1
16,120,Male,25.0,Nashik,Student,5.0,0.0,6.51,2.0,0.0,Less than 5 hours,Unhealthy,M.Ed,Yes,2.0,5.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27891,140645,Female,28.0,Thane,Student,4.0,0.0,7.77,3.0,0.0,Less than 5 hours,Unhealthy,MSc,No,2.0,5.0,No,1
27894,140681,Male,23.0,Srinagar,Student,3.0,0.0,6.00,2.0,0.0,More than 8 hours,Healthy,MBBS,Yes,12.0,4.0,No,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [21]:
ds['Have you ever had suicidal thoughts ?'].map({"Yes":1,"No":0})

0        1
1        0
2        0
3        1
4        1
        ..
27896    1
27897    0
27898    0
27899    1
27900    1
Name: Have you ever had suicidal thoughts ?, Length: 27901, dtype: int64

In [33]:
#mental health

In [21]:
ds[['Have you ever had suicidal thoughts ?','Family History of Mental Illness']].replace({"Yes":1,"No":0})

C:\Users\KALPESH TALESHA\AppData\Local\Temp\ipykernel_66580\3964563434.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ds[['Have you ever had suicidal thoughts ?','Family History of Mental Illness']].replace({"Yes":1,"No":0})

       Have you ever had suicidal thoughts ?  Family History of Mental Illness
0                                          1                                 0
1                                          0                                 1
2                                          0                                 1
3                                          1                                 1
4                                          1                                 0
...                                      ...                               ...
27896                                      1                                 1
27897                                      0                                 1
27898                                      0                                 0
27899                                      1                                 0
27900                                      1                                 1

[27901 rows x 2 columns]

In [35]:
#select the element in the first row and first column
ds.iloc[0,1]

'Male'

In [36]:
ds.iloc[0,0]

2

In [37]:
#find all rows where gender is male and depression is 1
ds[(ds['Gender']=='Male')&(ds['Depression']==1)]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1
10,83,Male,24.0,Nagpur,Student,3.0,0.0,6.10,3.0,0.0,5-6 hours,Moderate,Class 12,Yes,11.0,1.0,Yes,1
12,94,Male,27.0,Kalyan,Student,5.0,0.0,7.04,1.0,0.0,Less than 5 hours,Moderate,M.Tech,No,10.0,1.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27881,140564,Male,27.0,Surat,Student,4.0,0.0,5.16,4.0,0.0,Less than 5 hours,Moderate,M.Pharm,Yes,6.0,2.0,Yes,1
27884,140594,Male,18.0,Meerut,Student,5.0,0.0,6.25,3.0,0.0,7-8 hours,Unhealthy,Class 12,No,11.0,2.0,Yes,1
27887,140624,Male,32.0,Rajkot,Student,4.0,0.0,9.19,1.0,0.0,5-6 hours,Healthy,MSc,No,7.0,4.0,Yes,1
27888,140630,Male,19.0,Kolkata,Student,4.0,0.0,7.13,1.0,0.0,More than 8 hours,Moderate,Class 12,No,10.0,2.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [38]:
#select the first 3 rows of the age and cgpa column
ds.loc[0:2,['Age','CGPA']]

    Age  CGPA
0  33.0  8.97
1  24.0  5.90
2  31.0  7.03

In [23]:
#change the sleep duration for the person with id =1 to 8 to 9 hour
if(ds['id']==1).any():
    ds.loc[ds['id']==1,'Sleep Duration']="8-9 hours"
    print(ds.loc[ds['id']==1])
else:
    print("No row with id == 1 found")

No row with id == 1 found

In [40]:
ds.loc[ds['id']==2,'Sleep Duration']= "8-9 hours"
print(ds.loc[ds['id']==2])

   id Gender   Age           City Profession  Academic Pressure  \
0   2   Male  33.0  Visakhapatnam    Student                5.0

   Work Pressure  CGPA  Study Satisfaction  Job Satisfaction Sleep Duration  \
0            0.0  8.97                 2.0               0.0      8-9 hours

  Dietary Habits   Degree Have you ever had suicidal thoughts ?  \
0        Healthy  B.Pharm                                   Yes

   Work/Study Hours  Financial Stress Family History of Mental Illness  \
0               3.0               1.0                               No

   Depression
0           1

In [41]:
#print the first and fifth row along with second column
ds.iloc[[0,5],1]

0    Male
5    Male
Name: Gender, dtype: object

In [42]:
#
ds.loc[[0,4],'Degree']

0    B.Pharm
4     M.Tech
Name: Degree, dtype: object

In [43]:
ds['City'].value_counts()

City
Kalyan                1570
Srinagar              1372
Hyderabad             1340
Vasai-Virar           1290
Lucknow               1155
Thane                 1139
Ludhiana              1111
Agra                  1094
Surat                 1078
Kolkata               1066
Jaipur                1036
Patna                 1007
Visakhapatnam          969
Pune                   968
Ahmedabad              951
Bhopal                 934
Chennai                885
Meerut                 825
Rajkot                 816
Delhi                  768
Bangalore              767
Ghaziabad              745
Mumbai                 699
Vadodara               694
Varanasi               685
Nagpur                 651
Indore                 643
Kanpur                 609
Nashik                 547
Faridabad              461
Saanvi                   2
Bhavna                   2
City                     2
Harsha                   2
Kibara                   1
Nandini                  1
Nalini                   1
Mihir                    1
Nalyan                   1
M.Com                    1
ME                       1
Rashi                    1
Gaurav                   1
Reyansh                  1
Harsh                    1
Vaanya                   1
Mira                     1
Less than 5 Kalyan       1
3.0                      1
Less Delhi               1
M.Tech                   1
Khaziabad                1
Name: count, dtype: int64

In [44]:
#select 2 columns degree , sleep duration start with 1 and end on 18 and skip 2
ds.loc[1:18:2,['Degree','Sleep Duration']]

      Degree     Sleep Duration
1        BSc          5-6 hours
3        BCA          7-8 hours
5        PhD  Less than 5 hours
7   Class 12  Less than 5 hours
9        LLB  Less than 5 hours
11        BE  Less than 5 hours
13  Class 12  Less than 5 hours
15    M.Tech  More than 8 hours
17  Class 12          5-6 hours

In [45]:
ds.loc[1:18:2,'City':'CGPA']

         City Profession  Academic Pressure  Work Pressure  CGPA
1   Bangalore    Student                2.0            0.0  5.90
3    Varanasi    Student                3.0            0.0  5.59
5        Pune    Student                2.0            0.0  5.70
7     Chennai    Student                2.0            0.0  8.04
9      Nashik    Student                2.0            0.0  8.38
11   Vadodara    Student                3.0            0.0  7.03
13     Rajkot    Student                2.0            0.0  8.52
15   Srinagar    Student                3.0            0.0  8.58
17  Ahmedabad    Student                5.0            0.0  7.25

In [64]:
#write a code to filter a dataset and select rows where the city column is Kalyan, jaipur, delhi and then select only financial stress column from the filtered rows

In [24]:
ds[ds['City'].isin(['Kalyan', 'Jaipur', 'Delhi'])][['Financial Stress']]

       Financial Stress
4                   1.0
12                  1.0
14                  5.0
19                  3.0
29                  2.0
...                 ...
27854               1.0
27860               1.0
27872               4.0
27879               3.0
27886               3.0

[3374 rows x 1 columns]